@use 'variables';
@use 'mixins';

.footer{
	@include mixins.default-grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 3.5rem;
	border-top: 1px solid lightgray;
	margin-bottom: 4rem;
	padding: 2rem 1.5rem;
	font-size: 0.875rem;

	@include mixins.wide-screen{
		padding: 2rem 4%;
	}

	&__faq{
		color: rgb(77, 109, 209);
		place-self: center left;
	}

	&__copyright{
		color: #909097;
		place-self: center center;
	}

    &__social-display{
        display: flex;
        grid-column: 3/4;
        align-items: center;
        place-self: center right;
        justify-content: space-between;
        width: 8.95rem;

    }

    &__social-icon{
        background: none;
        border: none;
        color: rgb(77, 109, 209);
        font-size: 1.3rem;
        cursor: pointer;
    }
}