@use 'variables';
@use 'mixins';

.header{
	@include mixins.default-grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	position: relative;
	padding: 1.5rem;

	@include mixins.wide-screen{
		grid-template-columns: repeat(4, minmax(0, 1fr));
		padding: 1.5rem 4%;
	}

}

.logo{
	grid-column: 2/3;
	place-self: center center;
	background: url("../img/logo.png");
	@include mixins.default-background;
	height: 5rem;
	width: 7.35rem;
	cursor: pointer;
	position: relative;

	@include mixins.wide-screen{
		grid-column: 1/2;
		grid-row: 1/2;
		place-self: center left;
	}

	&__link{
		@include mixins.cover-parent;
	}
}

.toggle{
	height: 1.5rem;
	width: 1.75rem;
	grid-column: 1/2;
	place-self: center left;
	z-index: 3;
	border-radius: 0.2rem;
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;
	position: relative;

	@include mixins.wide-screen{
		display: none;
	}

	&__bar{
		position: absolute;
		width: 100%;
		height: 3px;
		background-color: black;
		transition: background-color 0.25s ease-in-out, transform 0.25s ease-in-out, top 0.25s ease-in-out;

		&_0{
			top: 0;
		}
		
		&_1{
			top: 50%;
			transform: translateY(-50%);
		}

		&_2{
			bottom: 0;
		}

		&_0.toggle__bar_open{
			transform: rotate(-45deg) translateY(-50%);
			top: 50%;
		}

		&_1.toggle__bar_open{
			opacity: 0;
		}

		&_2.toggle__bar_open{
			transform: rotate(45deg) translateY(-50%);
			top: 50%;
		}
	}


}

.menu{
	position: fixed;
	width: 300px;
	height: 100%;
	left: -100%;
	transition: .3s all ease-in;
	top: 0;
	z-index: 2;
	background: whitesmoke;
	@include mixins.default-grid;

	@include mixins.wide-screen{
		@include mixins.default-grid;
		grid-column: 2/4;
		position: unset;
		width: 100%;
		opacity: unset;
		left: unset;
		top: unset;
		height: unset;
		padding: unset;
		transition: unset;
		visibility: unset;
	}

	&__list{
		margin-top: 8.9rem;
		@include mixins.default-grid;
		grid-auto-rows: 3.9rem;
		justify-content: right;
		font-size: 1.5rem;

		@include mixins.wide-screen{
			place-self: center center;
			display: flex;
			margin-top: unset;
			font-size: unset;
			align-items: center;
            justify-content: space-between;
            overflow: hidden;
            width: 100%;
            max-width: 55.25rem;
            // margin-left: auto;
		}
	}

	&__link{
		color: black;
        transition: color 250ms ease-in-out;
		font-weight: bold;
		text-transform: uppercase;
		

		&:hover{
			color: #ed8936;
		}

		@include mixins.wide-screen{
			font-size: 1.05rem;
			font-weight: unset;
			text-transform: unset;
		}
	}

	&_open{
		background: whitesmoke;
		width: 21rem;
		opacity: 1;
		visibility: unset;
		left: 0;
	}

	&__item{
		display: flex;
		justify-content: right;
		padding-right: 3rem;

		@include mixins.wide-screen{
			padding: 1rem 0rem;
			display: unset;
			justify-content: unset;
			padding-right: unset;
		}
		
	}
}

.search-bar{
	grid-column: 3/4;
	place-self: center right;
	display: flex;
	height: 1.75rem;
	width: 1.75rem;

	@include mixins.wide-screen{
		grid-column: 4/5;
		grid-row: 1/2;
	}

	&__input{
		display: none;
	}

	&__button{
		border: none;
		position: relative;
		cursor: pointer;
		height: 100%;
		width: 100%;
		background: whitesmoke;
	}

	&__button-icon{
		@include mixins.cover-parent;
	}
}

@include mixins.landscape{
	.search-bar{
		width: 70%;
		max-width: 15rem;
		border: 1px solid rgba(0,0,0,0.5);
		border-radius: 999rem;
		background: white;
	
		&__input{
			display: flex;
			outline: none;
			border: none;
			width: 100%;
			height: 100%;
			background: none;
			padding: 0.3rem;
		}
	
		&__button{
			background: white;
			border-radius: 999rem;
			margin: auto 0.1rem auto 0.5rem;
			height: 80%;
			width: unset;
		}
	
		&__button-icon{
			filter: invert(52%) sepia(9%) saturate(19%) hue-rotate(10deg) brightness(95%) contrast(86%);
	
		}
	}
}